Source: fnx-bt-helper
Section: misc
Priority: optional
Maintainer: Christian Schrötter <cs@fnx.li>
Build-Depends: debhelper (>= 9), gettext
Standards-Version: 4.5.0
Vcs-Git: https://github.com/froonix/fnx-bt-helper.git
Vcs-Browser: https://github.com/froonix/fnx-bt-helper

Package: fnx-bt-helper
Architecture: all
Depends: ${misc:Depends}, bash, bluez, systemd (>= 203)
Description: Restores Bluetooth state after system wake-up
 This package provides a systemd sleep hook script. It checks if
 Bluetooth was powered on before the system enters suspend or hibernate
 state. If it was, it automatically re-enables the Bluetooth controller
 upon wake-up.
 .
 This serves as a workaround for systems where AutoEnable=false is set
 in the BlueZ configuration file /etc/bluetooth/main.conf.

Package: fnx-bt-toggle
Architecture: all
Depends: ${misc:Depends}, bash, bluez, gettext-base, util-linux
Recommends: blueman, libnotify-bin
Description: CLI toggle for Bluetooth controllers
 This package provides a simple command line utility to toggle the
 Bluetooth power state. It is specifically designed to work as a desktop
 environment keyboard shortcut and respects rfkill and BlueZ states.
 .
 This serves as a workaround for systems where AutoEnable=false is set
 in the BlueZ configuration file /etc/bluetooth/main.conf.
